.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

body {
    margin: auto;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.button {
    background-color: #1DC796;
    border: 3px solid #ffffff;
    color: #ffffff;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
}

.main-header {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #36A38A;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.main-header-logo-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
}

.main-header-logo-block {
    background-color: #FFFFFF;
    width: 200px;
}

.main-header-logo-image {
    width: 80px;
}

.main-nav {
    margin-top: 1px;
    background-color: #ffffff;
}

.main-nav::after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border: 100px solid #ffffff;
    border-top-width: 50px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: none;
    background-color: #36A38A;
}

.main-header-navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-header-navigation-list li {
    margin: 20px;
    margin-left: 30px;
}

.main-header-navigation-list a {
    text-decoration: none;
    color: #B9B9B9;
}

/*Контент на хедере*/

.main-header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 600px;
}

.main-header-content-social-logo-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-header-content-social-logo-list img {
    width: 50px;
    height: 50px;
    background-color: blue;
}

.main-header-content-text {
    padding-left: 60px;
    padding-right: 60px;
}

.main-header-content-button {
    background-color: #36A38A;
    border: 3px solid #ffffff;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}

/*main*/

.main-container-partners {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    padding: 20px;
    background-color: #F4F4F4;
}

.main-container-partners ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-container-partners li img {
    width: 200px;
    height: 200px;
    background-color: blue;
}

/*text-content*/

.main-container-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    background-color: #ffffff;
    padding: 20px;
}

.main-container-text-content p {
    text-align: center;
    margin: 40px 200px;
}

.thankYou-button {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
}

/*main-container-our-services*/

.main-container-our-services {
    display: flex;
    flex-direction: column;
    background-color: #36A38A;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: #ffffff;
}

.our-services-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 30px 0;
    font-size: 14px;
}

.our-services-list h3 {
    font-size: 30px;
    font-weight: 100;
}

.our-services-list p {
    line-height: 25px;
}

.our-services-list li {
    width: 500px;
}

/*Карта*/

.main-footer {
    width: 1320px;
    height: 400px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.main-footer-map {
    width: 1320px;
    height: 400px;
    opacity: 0.5;
    position: absolute;
    box-sizing: border-box;
}

.contacts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 400px;
}

.contacts-container h3 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: grey;
    font-weight: 200;
    padding: 10px 20px;
}

.main-footer-contacts p {
    color: grey;
    padding: 0 20px;
}

.main-footer-contacts {
    position: relative;
    width: 300px;
    height: 180px;
    margin-top: 40px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    box-shadow: 0px 0px 3px 3px grey;
}

.main-footer-contacts::after {
    content: "";
    width: 100px;
    height: 0px;
    margin-top: 80px;
    border-top: 25px solid #ffffff;
    border-bottom: 15px solid transparent;
    border-left: 25px solid transparent;
    border-right: 15px solid transparent;
    transform: rotate(-75deg) translate(100px, 150px);
}

.main-footer-contact-form {
    position: relative;
    width: 300px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.footer-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-footer-contact-form::before {
    content: "";
    width: 100%;
    height: 0px;
    border-top: solid 10px #1DC796;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.footer-contact-form input {
    width: 230px;
    margin-bottom: 15px;
    height: 25px;
    padding: 5px 15px;
    font-size: 12px;
    color: grey;
    border-radius: 5px;
}

.footer-contact-form input:focus {
    border: 1px solid red;
    border-radius: 5px;
    outline: none;
}

.footer-contact-form textarea {
    width: 230px;
    margin-bottom: 15px;
    height: 65px;
    padding: 5px 15px;
    font-size: 12px;
    color: grey;
    border-radius: 5px;
}

.footer-contact-form button {
    align-self: flex-end;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-right: 10px;
}